@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --color-primary: #394063;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2 {
  color: var(--color-primary) !important;
}

form {
  background: #ececec;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0.2rem 0;
}

input {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 2rem;
  padding-left: 1.2rem;
}

label .id {
  width: 10%;
}

thead {
  text-align: center;
}

tbody th:nth-child(5),
tbody th:nth-child(6),
tbody th:nth-child(7) {
  text-align: center;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}
